body,
html {
    min-height: 100vh;
    margin: 0;
    background-color: white
}

img {
    max-width: 100%;
}

.padding {
    padding: 30px 50px;
}

* {
    box-sizing: border-box;
}


p {
    font-size: 20px;
    line-height: 1.5;
    color: light-grey;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: 10;
    font-family: 'poppins', regular 400, sans-serif, bold 700, bold 700 italic;
}

.engagement-image {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;

    width: 80%;
    height: 80%;
    font-size: 14px;
    text-align: center;
}



h1 {
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 1.5;
    font-stretch: 50px;
    color: white;
    text-align: left;
    margin: 30px;
    padding-block: 30px;
    font-family: 'Agbalumo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 35px;
    line-height: 1.5;
    color: black;
    text-align: center;
    margin: 30px;
    font-family: 'Playpen Sans', regular 400, bold 700;
}

h3 {
    font-size: 25px;
    line-height: 1.5;
    color: black;
    text-align: center;
    margin: 30px;
    font-family: 'Playpen Sans', regular 400, bold 700;
}


.engagement-story {
    max-width: 600px;
    margin: auto;
}


.logo-image {
    max-width: 100px;
    max-height: 190px;
    padding-bottom: 15px;
}

.logo-image img {
    border-radius: 10px;

}

.heading-logo {
    z-index: 9px;
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FA824B;
    padding: 30px;
}

.header {
    max-width: 1900px;
}

mark {
    background-color: #F5AC4A;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    11% {
        left: 0%;
    }

    23% {
        left: -100%;
    }

    33% {
        left: -100%;
    }

    44% {
        left: -200%;
    }

    52% {
        left: -200%;
    }

    69% {
        left: -300%;
    }

    78% {
        left: -300%;
    }



}

body {
    margin: 0;
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 13s slidy infinite;
}

.image-slider {
    max-width: 90%;
    margin: auto;
}

#primary_nav_wrap {
    margin-top: 15px
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#primary_nav_wrap ul li {
    position: relative;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
    background: #ddd
}

#primary_nav_wrap ul li:hover {
    background: #f6f6f6
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}

#primary_nav_wrap ul ul li {
    width: 200px
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover>ul {
    display: block
}

.current-menu-item {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    text-align: center;
    max-width: 100%;
    max-height: 150px;
    color: white;
    background-color: #FA824B;
    padding: 20px;
    margin: auto;



}

.centered-pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.multiple-pics {
    width: 8000 px;
}

.two-small {
    width: 400px;
    padding-right: 35px;
    padding-left: 35px;
    object-position: center;

}

.main-page {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin: auto;

}

.page-links {
    max-width: 90%;
    max-height: 100px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FA824B;

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #FAB483
}

a:active {
    text-decoration: none;
    color: #FAC550
}

.button {
    max-width: 350px;
    max-height: 120px;
    border-radius: 20px;
    background-color: #FA824B;
    padding: 10px; 
    margin: 20px; 
    justify-content: space-between;
    align-items: center;
    display: inline-block; /* Make the boxes sit on the same line */
}

